<FilesMatch "^\.env">
    Require all denied
</FilesMatch>

<FilesMatch "\.(json|lock)$">
    Require all denied
</FilesMatch>

RewriteRule ^(vendor|storage|bootstrap|config|database|resources|tests|routes|app)/ - [F,L]
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect all requests to public/index.php
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>