:root, [data-bs-theme=light] {
  --bs-primary: #ff8c00;
  --bs-primary-rgb: 255,140,0;
  --bs-primary-text-emphasis: #663800;
  --bs-primary-bg-subtle: #FFE8CC;
  --bs-primary-border-subtle: #FFD199;
  --bs-link-hover-color: #2c4fc3;
  --bs-link-hover-color-rgb: 44,79,195;
  --bs-focus-ring-opacity: 0.1;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #ff8c00;
  --bs-btn-border-color: #ff8c00;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FF9D26;
  --bs-btn-hover-border-color: #FF9819;
  --bs-btn-focus-shadow-rgb: 38,21,0;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FFA333;
  --bs-btn-active-border-color: #FF9819;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #ff8c00;
  --bs-btn-disabled-border-color: #ff8c00;
}

.btn-outline-primary {
  --bs-btn-color: #ff8c00;
  --bs-btn-border-color: #ff8c00;
  --bs-btn-focus-shadow-rgb: 255,140,0;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #ff8c00;
  --bs-btn-hover-border-color: #ff8c00;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #ff8c00;
  --bs-btn-active-border-color: #ff8c00;
  --bs-btn-disabled-color: #ff8c00;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ff8c00;
}

